[Unit]
Description=Create SDDM user on system boot
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/etc/sddm/sddm-useradd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
